#.cproject
#.settings
.metadata
Kyomu*
UNI*

*~

#General build artifacts
#*.mk
*.o
*.a
*.elf
*.hex
*.axf
*.d
*.lst
*.map
*.plg
*.lnp
*.crf
*.tra
*.sct
*.bak
*.dep
*.class

#CUDA
*.suo

#Mac
._*
.DS_Store
