.settings/
.metadata

*.pydevproject
.cproject
.autotools

*.pyc

.DS_Store

*.exe
*.bin
*.hex
*.o
*.lst
*.map
*.zip
a.out
*~
#*#

Debug/

**/nbproject/
**/build/
**/debug/
**/dist/
/sbc6809/12F1822osc1536.X/dist/
/sbc6809/12F1822osc1536.X/build/