.settings/
.metadata

*.pydevproject
.cproject
.autotools

*.pyc

*.exe
*.bin
*.hex
*.o
*.lst
*.map
*.zip
a.out
*~
#*#

Debug/

**/nbproject/
**/build/
**/debug/
**/dist/
/EMUZ80-6502/EMUZ80-6502_65816.X/dist/
/EMUZ80-6502/EMUZ80-6502_65816.X/build/
/EMUZ80-6809RAM-main/emuz80_6809.X/build/
/EMUZ80-6809RAM-main/emuz80_6809.X/dist/
/EMUZ80-6502RAM/EMUZ80-6502RAM-Q43.X/build/
/EMUZ80-6502RAM/EMUZ80-6502RAM-Q43.X/dist/
/EMUZ80-MEZ68K8_RAM/MEZ68K-Q43.X/build/
/EMUZ80-MEZ68K8_RAM/MEZ68K-Q43.X/dist/
/EMUZ80-68008RAM+SPI/emuz80_6502RAM.X/build/
/EMUZ80-68008RAM+SPI/emuz80_6502RAM.X/dist/
/EMUZ80-68008RAM+SPI/emuz80_68008ram+spi.X/build/
/EMUZ80-68008RAM+SPI/emuz80_68008ram+spi.X/dist/
/EMUZ80-68008RAM+SPI/PIC18F47Q_UART_RxInterrupt_TxPolling.X/build/
/EMUZ80-68008RAM+SPI/PIC18F47Q_UART_RxInterrupt_TxPolling.X/dist/
.DS_Store
/EMUZ80-6502RAM/emuz80_6502RAM_RXInterrupt.X/build/
/EMUZ80-6502RAM/emuz80_6502RAM_RXInterrupt.X/dist/
/EMUZ80-6502RAM/emuz80_6502ram_intrx.X/build/
/EMUZ80-6502RAM/emuz80_6502ram_intrx.X/dist/
/MPLABXTestProjects/UART3_IVT.X/build/
/MPLABXTestProjects/UART3_IVT.X/dist/
/MPLABXTestProjects/NOUART3INT_IVT_Q43.X/build/
/MPLABXTestProjects/NOUART3INT_IVT_Q43.X/dist/
/MPLABXTestProjects/UART3POLLING_IVT_Q43.X/dist/
/MPLABXTestProjects/UART3POLLING_IVT_Q43.X/build/
/MPLABXTestProjects/UART3INT_IVT_Q43.X/build/
/MPLABXTestProjects/UART3INT_IVT_Q43.X/dist/
/EMUZ80/emuz80.X/build/
/EMUZ80/emuz80.X/dist/
/MPLABXTestProjects/18F47Q43_GPIO_Check.X/build/
/MPLABXTestProjects/18F47Q43_GPIO_Check.X/dist/
/MPLABXTestProjects/ivt_test.X/build/
/MPLABXTestProjects/ivt_test.X/dist/
/MPLABXTestProjects/ivt_thenrx.X/build/
/MPLABXTestProjects/ivt_thenrx.X/dist/
/MPLABXTestProjects/rx_then_ivt.X/build/
/MPLABXTestProjects/rx_then_ivt.X/dist/
/EMUZ80-68008/emuz80_68008.X/dist/
/EMUZ80-68008/emuz80_68008.X/build/