# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Ignore RTIMULib calibration directory
examples/RTEllipsoidFit

### Above combination will ignore all files without extension ###

# Ignore files with specific extensions
*.o
*.so*
*.ini
.vscode
**/*.log
